URxvt.depth: 32
URxvt.background: [25]#000000
URxvt.scrollBar: false
URxvt.font: xft:terminus:size=8
URxvt.perl-ext:      default,url-select
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt.colorUL: #4682B4
